# Byte-compiled / optimized / DLL files
__pycache__/
.cache
.idea
*.py[cod]
*$py.class
Generated_data
*.jpeg
*.jpg

# Gedit
*.py~

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

train
eval
data
models
.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
.idea/**
